<!DOCTYPE html>

<html>

<head>

    <title>Dino</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon.png">

</head>

<body>
    <div class="card">


        <h1 id="title">Dino Clicker</h1>
        <div class="coin">
            <p style="margin: 5px 5px;" id="coins">100</p>
            <img src="/static/bone.png" alt="bone" class="miniicon">
        </div>
        <button id="dino" class="tbutton">
            <img src="/static/green.png" alt="Dino" id="dinop">
        </button>
    

    
    </div>
    <div class="card" style="margin-top: 10px;">
            <a class="bb" href="/shop">shop</a>
            <a class="b" href="/skins">skins</a>
    </div>
</body>

<script src="/static/1.js"></script>


</html>