<!DOCTYPE html>

<html>

<head>

    <title>Dino</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon.png">

</head>

<body>
    <h1 id="title" style="color: rgb(48, 48, 48);">Shop</h1>
    <p>New and better skins are coming !</p>
    <a href="/" class="bb" style="margin-bottom: 10px;">back</a>
    <div class="card">
        <h1 id="title" style="color: rgb(148, 255, 77);">Grass</h1>
        <img src="/static/green.png" alt="Dino" id="dinog">
        <button id="green" class="b">use</button>

    </div>
    <div class="card" style="margin-top: 10px;">
        <h1 id="title" style="color: rgb(255, 135, 255);">Gum</h1>
        <img src="/static/pink.png" alt="Dino" id="dinop">
        <button id="pink" class="bb">Buy 2000 dino</button></div>

    <div class="card" style="margin-top: 10px;">
        <h1 id="title" style="color: rgb(75, 230, 219);">Sea</h1>
        <img src="/static/blue.png" alt="Dino" id="dinob">
        <button id="blue" class="bb">Buy 300k dino</button></div>
        
    <div class="card" style="margin-top: 10px;">
        <h1 id="title" style="color: rgb(255, 182, 87);">Fire</h1>
        <img src="/static/orange.png" alt="Dino" id="dinoo">
        <button id="orange" class="bb">Buy 1mil dino</button></div>
</body>

<script src="/static/2.js"></script>

</html>